@using Constants
@{
    ViewBag.Title = "Implicit Grant - Client Page";
}

<div class="row">
    <div class="col-md-12">
        <h1>Implicit Grant</h1>
        <h2>Client Page</h2>
        <form id="form1">
            <div>
                Access Token<br/>
                <input id="AccessToken" name="AccessToken"/>
                <input id="Authorize" type="button" name="signin.AccessToken" value="Authorize"/>
                <br/>
                <input id="CallApi" name="submit.CallApi" value="Access Protected Resource API" type="button"/>
            </div>
            <div id="output">
            </div>
        </form>
    </div>
</div>
@section scripts
{
    <script>
        $(function() {
            var clientId = '@Clients.Client1.Id';
            var authorizeUri = '@(Paths.AuthorizationServerBaseAddress + Paths.AuthorizePath)';
            var tokenUri = '@(Paths.AuthorizationServerBaseAddress + Paths.TokenPath)';
            var apiUri = '@(Paths.ResourceServerBaseAddress + Paths.GrabMemberInfo)';
            var returnUri = '@Paths.ImplicitGrantCallBackPath';

            $("#Authorize")
                .click(function() {
                    var nonce = 'my-nonce';

                    var uri = addQueryString(authorizeUri,
                    {
                        'client_id': '7890ab',
                        'redirect_uri': returnUri,
                        'state': nonce,
                        'scope': 'bio notes',
                        'response_type': 'token'
                    });

                    window.oauth = {};
                    window.oauth.signin = function(data) {
                        if (data.state !== nonce) {
                            return;
                        }

                        $('#AccessToken').val(data.access_token);
                    }

                    window.open(uri, 'Authorize', 'width=640,height=480');
                });

            function addQueryString(uri, parameters) {
                var delimiter = (uri.indexOf('?') === -1) ? '?' : '&';
                for (var parameterName in parameters) {
                    if (parameters.hasOwnProperty(parameterName)) {
                        var parameterValue = parameters[parameterName];
                        uri += delimiter + encodeURIComponent(parameterName) + '=' + encodeURIComponent(parameterValue);
                        delimiter = '&';
                    }
                }
                return uri;
            }
        });
    </script>
}